@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*   */
}

section {
    padding: 100px;
}

.banner {
    position: relative;
    background: linear-gradient(120deg,#f4b405,#dbbe53 62%,#6a94e9 62%,#212871 100%);
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .banner h2 {
        font-size: 3em;
        color: #fff;
        font-weight: 500;
        line-height: 1.5em;
    }

        .banner h2 span {
            font-size: 1.5em;
            font-weight: 700;
        }

    .banner h3 {
        font-size: 1.5em;
        color: #fff;
        font-weight: 500;
    }

    .banner .btn {
        position: relative;
        background: #212871;
        display: inline-block;
        color: #fff;
        margin-top: 20px;
        padding: 10px 30px;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        font-weight: 500;
        border-radius: 30px;
    }

header {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    z-index: 1000;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background: linear-gradient(180deg,#212871,#6a94e947 90%,#4750af1f 100%);
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

    header .logo {
        position: relative;
        display: inline-flex;
        color: white;
        text-decoration: none;
        font-size: 2em;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    header.sticky {
        background: #fff;
        padding: 10px 50px;
        box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    }

        header.sticky .logo {
            color: black;
        }

    header ul {
        position: relative;
        display: flex;
    }

        header ul li {
            position: relative;
            list-style: none;
        }

.headerP ul li a {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 40px;
    text-align: center;
}

header ul li a:hover {
    background: #2d3478;
}

header ul li a.select {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    color: #fff !important;
    text-decoration: none;
    background: #2d3478;
    padding: 5px 15px;
    border-radius: 40px;
}

header.sticky ul li a {
    color: #000;
}

    header.sticky ul li a.select {
        color: #fff;
    }

    header.sticky ul li a:hover {
        color: #fff !important;
    }

.imgBx img {
    width: 80%;
    margin-left: 100px;
}

.copyrightText {
    position: absolute;
    left: 100px;
    bottom: 40px;
    z-index: 4;
    font-weight: 500;
    font-size: 1.2em;
    color: var(--black);
}
/*Responsive*/
@media(max-width: 768px) {
    header {
        padding: 20px;
    }

    .copyrightText {
        left: 20px;
        bottom: 30px;
    }

    .imgBx img {
        width: 80%;
        margin-left: 50px;
    }
}

@media(max-width: 991px) {
    header { /******************/
        padding: 20px 50px;
        z-index: 1000;
    }

        header.sticky {
            padding: 10px 50px;
            z-index: 1000;
        }

    .menu {
        position: fixed;
        top: 90px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }

        .menu.activate {
            left: 0;
        }

    header ul li a {
        color: #111 !important;
        font-size: 24px;
        margin: 10px !important;
    }

        header ul li a:hover {
            color: #fff !important;
        }

    .toggle {
        width: 40px;
        height: 40px;
        background: url(../../Imagen/ImgHome/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

        .toggle.activate {
            background: url(../../Imagen/ImgHome/close.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 25px;
            cursor: pointer;
        }

    header.sticky .toggle {
        filter: invert(1);
    }

    section {
        padding: 100px 50px;
    }

    .banner {
        padding: 150px 50px 100px;
        flex-direction: column-reverse;
    }

    .textBx {
        margin: 0 0 40px 0;
    }
}
