
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateStreets</title>
    <link href="~/Style/StyleIndex/SStreets.css" rel="stylesheet" />
</head>
<body>
    <section>
        <div class="container">
            <h2>Modificar Calle No Disponibles</h2>
            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="" id="" required>
                        <span class="text">Nombre del lugar</span>
                        <span class="line"></span>
                    </div>
                </div>

            </div>
            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="" id="" required>
                        <span class="text">Nombres de las calles</span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="" id="" required>
                        <span class="text">Descripcion</span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
            <div class="row100">
                <div class="col">
                    <div class="inputBox">

                        <span class="text">Fecha de Programacion</span>
                    </div>
                </div>
                <div class="col">
                    <div class="inputBox">
                        <input type="date" name="" id="" required>

                        <span class="line"></span>
                    </div>
                </div>
            </div>
            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="" id="" required>
                        <span class="text">Tiempo Inicio</span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="" id="" required>
                        <span class="text">Tiempo Final</span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
            <h3>Punto de Inicio</h3>
            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="" id="" required>
                        <span class="text">Latitud</span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="" id="" required>
                        <span class="text">Longitud</span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
            <h3>Punto de Cierre</h3>
            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="" id="" required>
                        <span class="text">Latitud</span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="" id="" required>
                        <span class="text">Longitud</span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
            <div class="row100">
                <div class="col">
                    <input type="submit" value="Publicar ahora">
                </div>
                <div class="col">
                    <input type="submit" value="Programar">
                </div>
                <div class="col">
                    <input type="submit" value="Cancelar">
                </div>
            </div>
        </div>
    </section>
</body>
</html>
