
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Header</title>
    <link rel="stylesheet" href="~/Style/StyleIndex/SIndex.css">
</head>
<body>
    <header class="headerP">
        <a href="#" class="logo">Card Drop</a>
        <div class="toggle" onclick="toggleMenu();"></div>
        <ul class="menu">
            <li><a class="select" href="/Home/Index">Home</a></li>
            <li><a href="/Maps/Maps">Mapa</a></li>
            <li><a href="/Locations/LocationsList">Parqueos</a></li>
            <li><a href="/Streets/StreetsList">Calles no disponibles</a></li>
            <li><a href="/Login/Logout">Cerrar Sesión</a></li>
        </ul>
    </header>
    <script src="~/Js/JIndex.js"></script>
</body>
</html>
