
@{
    Layout = null;
    string markerOne = "", markerTwo = "", markerThree = "", markerFour = "";
    switch (Page.ProcessInfo)
    {
        case 1:
            markerOne = "select";
            break;
        case 2:
            markerTwo = "select";
            break;
        case 3:
            markerThree = "select";
            break;
        default:
            markerFour = "select";
            break;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Header</title>
    <link rel="stylesheet" href="~/Style/StyleIndex/SIndex.css">
</head>
<body>
    <header class="headerPage">
        <a href="#" class="logo">Card Drop</a>
        <div class="toggle" onclick="toggleMenu();"></div>
        <ul class="menu">
            <li><a class="@markerOne" href="/Home/Index">Home</a></li>

            <li><a class="@markerTwo" href="/Maps/Maps">Mapa</a></li>

            <li><a class="@markerThree" href="/Locations/LocationsList">Parqueos</a></li>

            <li><a class="@markerFour" href="/Streets/StreetsList">Calles no disponibles</a></li>

            <li><a href="/Login/Logout">Cerrar Sesión</a></li>
        </ul>
    </header>
    <script src="~/Js/JIndex.js"></script>
</body>
</html>
