
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    <div>
        <!-- Header -->
        @RenderPage("~/Views/Home/Header.cshtml", new { ProcessInfo = 1 })
        <!-- Fin Header -->
    </div>
    <div>
        <section class="banner" id="home">
            <div class="textBx">
                <h2>Hola <br><span>Bienvenido.</span></h2>
                <h3>Parqueos Vialidad.</h3>
                <a href="#" class="btn">About Me</a>
            </div>
            <div class="imgBx">
                <img src="~/Imagen/ImgHome/car.jpg" alt="">
            </div>
            <p class="copyrightText">© Online Tutorials - 2021</p>
        </section>
    </div>
    
</body>
</html>
