
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Card</title>
    <link rel="stylesheet" href="~/Style/StyleIndex/SIndex.css">
</head>
<body>
    <div>
        <header>
            <a href="#" class="logo">Card Drop</a>
            <div class="toggle" onclick="toggleMenu();"></div>
            <ul class="menu">
                <li><a class="select" href="#">Home</a></li>
                <li><a href="#">Mapa</a></li>
                <li><a href="#">Parqueos</a></li>
                <li><a href="#">Calles no disponibles</a></li>
                <li><a href="#">Cerrar Sesión</a></li>
            </ul>
        </header>
        <section class="banner" id="home">
            <div class="textBx">
                <h2>Hola <br><span>Bienvenido.</span></h2>
                <h3>Parqueos Vialidad.</h3>
                <a href="#" class="btn">About Me</a>
            </div>
            <div class="imgBx">
                <img src="~/Imagen/imgHome/car.jpg" alt="">
            </div>
            <p class="copyrightText">© Online Tutorials - 2021</p>
        </section>
    </div>


    <script src="~/JavaScript/JIndex.js"></script>
</body>
</html>
