
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Añadir Nuevo Parqueo</title>
    <link rel="stylesheet" href="~/Style/StyleIndex/SLocations.css">
    <!-- GOOGLE FONTs -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- ANIMATE CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>
<body>

    <div class="content">

        <i class="fas fa-arrow-circle-left fa-5x"></i>

        <h1 class="logo"><span>Añadir Nuevo Parqueo</span></h1>

        <div class="parking-wrapper animated bounceInUp" id="parking">
            <div class="parking-form">
                <form action="Locations" method="post" id="formulario">
                    <p>
                        <label>Nombre</label>
                        <label style="color:red" name="ERROR" id="errorname"></label>
                        <input type="text" name="name" id="name" required>
                    </p>
                    <p>
                        <label>Latitud</label>
                        <label style="color:red" name="ERROR" id="errorlatitude"></label>
                        <input type="text" name="latitude" id="latitude" required>
                    </p>
                    <p>
                        <label>Nombre de la calle</label>
                        <label style="color:red" name="ERROR" id="errornameStreet"></label>
                        <input type="text" name="nameStreet" id="nameStreet" required>
                    </p>
                    <p>
                        <label>Longitud</label>
                        <label style="color:red" name="ERROR" id="errorlenght"></label>
                        <input type="text" name="lenght" id="lenght" required>
                    </p>
                    <p>
                        <label>Espacios</label>
                        <label style="color:red" name="ERROR" id="errorparkingSpaces"></label>
                        <input type="text" name="parkingSpaces" id="parkingSpaces" required>
                    </p>
                    <p>
                        <label>Tarifas</label>
                        <label style="color:red" name="ERROR" id="errorprice"></label>
                        <input type="text" name="price" id="price" required>
                    </p>
                    <p>
                        <label>Imagen</label>
                        <input type="file" name="image" required>
                    </p>
                    <p class="block">
                        <label>Descripcion</label>
                        <label style="color:red" name="ERROR" id="errordescription"></label>
                        <textarea name="description" id="description" rows="3" required></textarea>
                    </p>
                    <p class="block">
                        <button style="color: white;">
                            Añadir
                        </button>
                    </p>
                </form>
            </div>

        </div>

    </div>
    <script src="~/Js/ValidacionLocation.js"></script>
</body>
</html>
