
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Añadir Nuevo Parqueo</title>
    <link rel="stylesheet" href="~/Style/StyleIndex/SLocations.css">
    <!-- GOOGLE FONTs -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- ANIMATE CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>
<body>
    <form action="/Locations/Locations" method="post" enctype="multipart/form-data">
        <section>
            <div class="container">
                <h2>Añadir Nuevo Parqueo</h2>
                <div class="row100">
                    <div class="col">
                        <div class="inputBox">
                            <input type="text" name="name" id="" required>
                            <span class="text">Nombre del Parqueo</span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input type="text" name="nameStreet" id="" required>
                            <span class="text">Nombres de las calles</span>
                            <span class="line"></span>
                        </div>
                    </div>

                </div>
                <div class="row100">
                    <div class="col">
                        <div class="inputBox">
                            <input type="number" name="latitude" id="" step="0.000001" required>
                            <span class="text">Latitud</span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input type="number" name="lenght" id="" step="0.000001" required>
                            <span class="text">Longitud</span>
                            <span class="line"></span>
                        </div>
                    </div>

                </div>
                <div class="row100">
                    <div class="col">
                        <div class="inputBox">
                            <input type="number" name="price" id="" step="0.01" required>
                            <span class="text">Tarifas</span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input type="number" name="parkingSpaces" id="" required>
                            <span class="text">Espacios</span>
                            <span class="line"></span>
                        </div>
                    </div>

                </div>
                <div class="row100">
                    <div class="col">
                        <div class="inputBox textarea">
                            <textarea required="" name="description"></textarea>
                            <span class="text">Descripción</span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox textarea">
                            <input type="file" name="file">
                            <span class="text">Imagen</span>
                            <span class="line"></span>
                        </div>
                    </div>
                </div>
                <div class="row100">
                    <div class="col ">
                        <div class="colb">
                            <input type="submit" value="Añadir">
                            <a class="btnC" href="/Locations/LocationsList">Cancelar</a>
                        </div>

                    </div>

                </div>

            </div>
        </section>
    </form>

</body>
</html>
