
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login </title>
	<link rel="stylesheet" type="text/css" href="~/Style/StyleIndex/SLogin.css">
</head>
<body>
	<div class="form">
		<h2>Inicio de Sesion</h2>
		<div class="input">
			<div class="inputBox">
				<label>Nombre de Usuario</label>
				<input type="text" name="" placeholder="ingrese su usuario">
			</div>
			<div class="inputBox">
				<label>Constraseña</label>
				<input type="password" name="" placeholder="ingrese su constraseña">
			</div>
			<div class="inputBox1">
				<input type="submit" name="" value="Iniciar Sesion">
			</div>
			<br>
			<label>No existen usuarios habilitados</label>
		</div>

	</div>
</body>
</html>